<%- include('navbar.ejs') %>
<form
  action="/admin/save_service_heading"
  method="post"
  enctype="multipart/form-data"
>
  <div class="container p-5 bg-white">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-primary">Service Heading</h3>
      </div>
      <div class="mt-3 col-md-6">
        Heading
        <input
          type="text"
          name="heading"
          value="<%=service.heading%>"
          class="form-control"
        />
      </div>
      <div class="mt-3 col-md-3">
        Before Image
        <input type="file" name="before_img" class="form-control" />
        <img
          src="/img/<%=service.before_img%>"
          width="100%"
          style="margin-top: 10px"
          alt=""
        />
      </div>
      <div class="mt-3 col-md-3">
        After Image
        <input type="file" name="after_img" class="form-control" />
        <img
          src="/img/<%=service.after_img%>"
          width="100%"
          style="margin-top: 10px"
          alt=""
        />
      </div>
      <div class="mt-3 col-md-12 text-center">
        <button class="btn btn-primary">Save Data</button>
      </div>
    </div>
  </div>
</form>
<%- include('footer.ejs') %>
